* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar */

.navigation-bar {
    height: 80px;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.navigation-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.navigation-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.nav-link {
    padding: 10px;
}

.image {
    height: 28px;
}

.nav-link a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.login-button a {
    padding: 8px 20px;
    color: white;
    background-color: #0061ff;
}

/* Fine navbar */

/* Jumbotron */

.jumbotron {
    background-color: #b4d0e7;
}

.jumbo-container {
    width: 1200px;
    margin: auto;
}

.jumbo-container h1 {
    font-size: 58px;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
}

.text-left {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 30%;
    padding-top: 70px;
}

.image-right {
    width: 70%;
}

.image-right img {
    width: 100%;
}

.text-left a {
    color: white;
    background-color: #0061ff;
    padding: 12px 20px;
    text-decoration: none;
    width: 240px;
}

.text-left p:nth-of-type(2) {
    margin-bottom: 50px;
}

.text-left .fa {
    font-size: 45px;
    margin-bottom: 10px;
}

.image-right img {
    position: relative;
    bottom: -70px;
}

/* Fine Jumbotron */

/* Main section */

.main-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
}

/* Business plan */

.payment-plan {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    margin-top: 50px;
}

.payment-plan .payment {
    width: calc(100% / 3 - 50px / 3 * 2);

    /* test */
    border: 2px dashed black;
    background-color: brown;
    height: 543px;
}

/* Fine business plan */

/* Enterprise */

.enterprise {
    margin-top: 25px;

    /* Test */
    height: 147px;
    border: 2px dashed black;
    background-color: greenyellow;
}

/* Fine enterprise */

/* Fine partner */

.find-partner {
    margin-top: 85px;
    display: flex;
}

.find-partner .picture-left {

    /* test */
    width: 60%;
    height: 450px;
    border: 2px dashed black;
    background-color: blue;
}

.find-partner .written-content {
    flex-grow: 1;

    /* test */
    height: 450px;
    border: 2px dashed black;
    background-color: darkgreen;
}

/* Fine find partner */

.business-plan {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.business-plan .section-block {
    width: calc(100% / 3 - 50px / 3 * 2);
    margin-top: 40px;

    /* Test */
    height: 270px;
    border: 2px dashed black;
    background-color: chocolate;
}

/* Sezione Designit */

.designit {
    display: flex;
    width: 100%;

    /* test */
    height: 365px;
}

.designit .square-section-left {
    display: flex;
    flex-wrap: wrap;
}

.designit .square-section-right {
    display: flex;
    flex-wrap: wrap;
}

.divisotre {
    width: calc(100% / 3);
}

.designit .square-space {
    width: calc(100% / 2);
    /* test */
    border: 2px dashed black;
    background-color: cyan;
}

.designit .centrale-space {
    flex-grow: 1;
    min-width: 150px;

    /* test */
    border: 2px dashed black;
    background-color: darkcyan;
}

/* Fine sezione designit*/

/* Free-trial*/

.free-trial {
    margin-bottom: 90px;

    /* test */
    height: 205px;
    background-color: darkolivegreen;
    border: 2px dashed black;
}

/* Fine free-trial */

/* FAQ */

/* Fine FAQ */

.faq {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 85px;

    /* test */
    height: 240px;
    border: 2px dashed black;
    background-color: firebrick;
}

/* Fine main section */

/* Footer */

.footer-end {
    height: 325px;
    background-color: black;
}

/* Fine footer */