* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navigation-bar {
    height: 46px;

    /* test */
    border: 2px dashed black;
    background-color: blueviolet;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.navigation-left {
    display: flex;
}

.navigation-right {
    display: flex;
}

.nav-link {
    padding: 10px;

    /* test */
    border: 2px dashed black;
    background-color: bisque;
}

/* Fine navbar */

/* Jumbotron */

.jumbotron {
    height: 421px;

    /* test */
    border: 2px dashed black;
    background-color: aquamarine;
}

/* Fine Jumbotron */

/* Main section */

.main-container {
    max-width: 1000px;
    margin: auto;
}

.payment-plan {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    margin-top: 50px;
}

.payment-plan .payment {
    width: calc(100% / 3 - 30px);

    /* test */
    border: 2px dashed black;
    background-color: brown;
    height: 543px;
}

.enterprise {
    margin-top: 25px;

    /* Test */
    height: 147px;
    border: 2px dashed black;
    background-color: greenyellow;
}

.find-partner {
    margin-top: 85px;
    display: flex;
}

.find-partner .picture-left {

    /* test */
    width: 340px;
    height: 290px;
    border: 2px dashed black;
    background-color: blue;
}

.find-partner .written-content {
    flex-grow: 1;

    /* test */
    height: 290px;
    border: 2px dashed black;
    background-color: darkgreen;
}

.business-plan {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.business-plan .section-block {
    width: calc(100% / 3 - 25px);
    margin-top: 40px;

    /* Test */
    height: 270px;
    border: 2px dashed black;
    background-color: chocolate;
}

/* Sezione Designit */

.designit {
    display: flex;
    width: 100%;

    /* test */
    height: 365px;
}

.designit .square-section-left {
    display: flex;
    flex-wrap: wrap;
}

.designit .square-section-right {
    display: flex;
    flex-wrap: wrap;
}

.divisotre {
    width: calc(100% / 3);
}

.designit .square-space {
    width: calc(100% / 2);
    /* test */
    border: 2px dashed black;
    background-color: cyan;
}

.designit .centrale-space {
    flex-grow: 1;
    min-width: 150px;

    /* test */
    border: 2px dashed black;
    background-color: darkcyan;
}

/* Fine sezione designit*/

/* Free-trial*/

.free-trial {
    margin-bottom: 90px;

    /* test */
    height: 205px;
    background-color: darkolivegreen;
    border: 2px dashed black;
}

/* Fine free-trial */

/* FAQ */

/* Fine FAQ */

.faq {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 85px;

    /* test */
    height: 240px;
    border: 2px dashed black;
    background-color: firebrick;
}

/* Fine main section */

/* Footer */

.footer-end {
    height: 325px;
    background-color: black;
}

/* Fine footer */